*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}

button,
input {
  font-family: inherit;
}

p {
  margin: 0;
}

svg:has(symbol) {
  display: none;
}

fieldset {
  margin: 0;
  padding: 0;
}
