*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
  user-select: none;
}

p {
  margin: 0;
}

svg:has(symbol) {
  display: none;
}

fieldset {
  margin: 0;
  padding: 0;
}
