:root {
  color-scheme: light dark;
  --primary-rgb: 48, 48, 48;
  --bg-rgb: 255, 255, 255;
  --accent-strong-rgb: 0, 88, 242;

  @media (prefers-color-scheme: dark) {
    --primary-rgb: 210, 210, 210;
    --bg-rgb: 18, 18, 18;
    --accent-strong-rgb: 76, 141, 255;
  }
}

body {
  --primary: rgb(var(--primary-rgb));
  --secondary: light-dark(#555, #b5b5b5);
  --bg: rgb(var(--bg-rgb));
  --disabled: light-dark(#999, #666);
  --neutral-100: light-dark(#fff, #1c1c1c);
  --neutral-200: light-dark(#f5f5f5, #2f2f2f);
  --neutral-300: light-dark(#dfdfdf, #4c4c4c);
  --neutral-400: light-dark(#bbb, #555);
  --neutral-500: light-dark(#aaa, #666);
  --neutral-600: light-dark(#888, #888);
  --neutral-900: light-dark(#333, #ccc);

  --danger: light-dark(rgb(255, 106, 108), #ff6b6d);
  --accent-light: light-dark(rgb(209, 229, 254), #162944);
  --accent-strong: rgb(var(--accent-strong-rgb));
  --accent-altern: light-dark(rgb(0, 236, 161), #20c997);

  color: var(--primary);
  font-family: 'Outfit', sans-serif;
}

main {
  height: 100%;
  display: grid;
  grid-template:
    'toolbar-left toolbar-right' auto
    'editor aside' 1fr
    / 1fr auto;
}

.srOnly {
  position: absolute;
  clip-path: inset(50%);
}

.checkbox {
  display: flex;
  gap: 3px;
  font-size: 0.9rem;
  user-select: none;

  input[type='checkbox'] {
    margin: 0;
  }
}

.editor-container {
  overflow: hidden auto;
  grid-row-start: toolbar-left;
  grid-row-end: editor;
  grid-column: toolbar-left;

  padding: 80px 30px 20px;
  display: grid;
  grid-template:
    'ruler-y   graph' 1fr
    '.         ruler-x' 50px
    'timeline-action   timeline' auto
    / 100px 1fr;
}

.graph-wrapper {
  position: relative;
  grid-area: graph;
  min-height: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
}

.graph {
  position: relative;
  flex: 1;
  min-height: 0;
  align-self: stretch;
}

.ruler {
  container-type: size;

  display: flex;
  padding: 0;
  margin: 0;

  --line-width: 1px;
  --line-length: 8px;
  --line-color: var(--neutral-400);
  --max-number-of-lines: 20;

  --strong-line-length: 14px;
  --strong-line-color: var(--neutral-600);
  --number-of-lines: round(100cqmax / (5px * var(--max-number-of-lines)));
  --single-line-gap: calc(100% / var(--number-of-lines));

  li {
    display: block flow;
    flex: 1;

    &:last-child {
      flex: 0;
      --line-color: transparent;
    }

    input {
      text-align: right;
      &::-webkit-textfield-decoration-container {
        flex-direction: row-reverse;
      }
    }

    .input-unit:has([data-name='start-value']) {
      margin-bottom: -10px;
    }

    .input-unit:has([data-name='end-value']) {
      margin-top: -9px;
    }

    &::after {
      content: attr(data-stop);
      display: inline flow-root;
      font-size: 14px;
      font-family: 'Times New Roman', Times, serif;
    }

    @container ((aspect-ratio > 1) and (width < 300px))
        or
        ((aspect-ratio < 1) and (height < 300px)) {
      &:nth-child(2n)::after {
        display: none;
      }
    }

    @container ((aspect-ratio > 1) and (width < 150px))
        or
        ((aspect-ratio < 1) and (height < 150px)) {
      &:not(:first-child, :last-child)::after {
        display: none;
      }
    }
  }
}

.ruler-y {
  grid-area: ruler-y;
  flex-direction: column-reverse;

  li {
    text-align: right;

    number-input {
      text-align: initial;
    }

    padding-right: 20px;
    --x-offset: 10px;
    /* --x-offset: calc(var(--strong-line-length) * -1 - 5px); */
    height: 0;
    align-content: end;
    background:
      conic-gradient(at 0% 100%, var(--strong-line-color)) 100% 100% / var(--strong-line-length)
        var(--line-width) no-repeat,
      conic-gradient(at 100% var(--line-width), transparent 270deg, var(--line-color) 0 270deg) 100%
        calc(-1 * var(--line-width)) / var(--line-length) var(--single-line-gap) repeat-y;

    &:last-child {
      height: var(--line-width);
      &::after {
        translate: var(--x-offset) 0;
      }
    }

    &::after {
      translate: 0 0.5lh;
      /* translate: var(--x-offset) 0; */
    }

    &:first-child:after {
      content: none;
    }
  }
}

.label-ruler-y {
  grid-area: ruler-y;
  text-align: center;
  writing-mode: sideways-lr;
}

.ruler-x {
  grid-area: ruler-x;
  /* contain-intrinsic-height: var(--strong-line-length); */

  li {
    width: 0;
    background:
      conic-gradient(var(--strong-line-color)) var(--line-width) 0 / var(--line-width)
        var(--strong-line-length) no-repeat,
      conic-gradient(at var(--line-width) 100%, transparent 270deg, var(--line-color) 0)
        var(--line-width) 0 / var(--single-line-gap) var(--line-length) repeat-x;

    &:last-child {
      width: calc(2 * var(--line-width));
    }

    &::after {
      translate: -50% var(--strong-line-length);
    }
  }
}

[class^='active-line-'] {
  --size: 1px;
  position: absolute;
  position-anchor: --cp-selected;
  inset: 0;
  background: linear-gradient(
      var(--angle),
      var(--neutral-300),
      var(--neutral-300) 12px,
      transparent 7px
    )
    0 0 / 19px 19px repeat;
  margin: auto;
  pointer-events: none;
}

.active-line-x {
  --angle: 90deg;
  top: anchor(center);
  bottom: anchor(center);
  height: var(--size);
}

.active-line-y {
  --angle: 0deg;
  left: anchor(center);
  right: anchor(center);
  width: var(--size);
}

.spline-preview {
  overflow: visible;
  will-change: transform; /* safari fix, empty rectangles were drawn on svg after arrow tip */
  width: 100%;
  height: 100%;
}

#toolbar {
  grid-column-start: toolbar-left;
  grid-column-end: toolbar-right;
  grid-row: toolbar-left;

  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(var(--bg-rgb), 0.5);
  backdrop-filter: blur(2px);
  z-index: 1;
  padding: 8px 20px;
  border-bottom: 1px solid var(--neutral-200);
}

aside {
  width: 200px;
  padding: 20px 10px;
  border-left: 1px solid var(--neutral-200);
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
}

.output-preview {
  flex: 2 0 200px;
  max-height: 600px;
  container-type: size;
  background: rgba(var(--primary-rgb), 0.08);
  border-radius: 5px;
  padding: 10px;
  align-content: end;
}

.preview-target-wrapper {
  --size: 100px;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: inherit;
  margin-inline: auto;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    outline: 5px dashed var(--neutral-300);
  }
}

#preview-target-box {
  width: 100%;
  height: 100%;
  background: var(--accent-strong);
  animation: var(--anim-type) calc(1ms * var(--anim-time)) infinite;
  animation-direction: var(--anim-dir);
  animation-timing-function: var(--easing-func);
  animation-play-state: var(--anim-state);
  animation-fill-mode: forwards;
  border-radius: inherit;
}

@keyframes --translate-keyframes {
  to {
    translate: 0 calc(var(--size) - 100cqh);
  }
}
@keyframes --rotate-keyframes {
  to {
    rotate: 360deg;
  }
}
@keyframes --scale-keyframes {
  to {
    scale: 1 calc(100cqh / var(--size));
  }
}

html[style*='--scale-keyframes'] #preview-target-box {
  transform-origin: 50% 100%;
}

html[style*='--rotate-keyframes'] .output-preview {
  align-content: center;
}

#spline-anim-progress {
  --arrow-tail-width: 5px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: var(--arrow-tail-width);
  margin-left: calc(var(--arrow-tail-width) * -0.5);
  background: linear-gradient(
    transparent var(--anim-preview-arrow-tip-height),
    var(--accent-strong) var(--anim-preview-arrow-tip-height)
  );
  pointer-events: none;

  &.reverse {
    top: 100%; /* for negative values */
    align-items: end;
    background: linear-gradient(
      var(--accent-strong) calc(100% - var(--anim-preview-arrow-tip-height)),
      transparent calc(100% - var(--anim-preview-arrow-tip-height))
    );

    &::before {
      transform: rotate(180deg);
    }
  }

  &::before {
    content: ' ';
    display: block;
    flex-shrink: 0;
    margin-inline: auto;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    background: var(--accent-strong);
    width: 20px;
    height: var(--anim-preview-arrow-tip-height);
  }
}

.timeline-action {
  grid-area: timeline-action;
  margin-right: 5px;
  justify-self: end;
}

#cp-preview {
  display: none;
  opacity: 0.5;
  pointer-events: none;
}

#cp-coords {
  position: absolute;
  position-anchor: --cp-selected;
  bottom: calc(10px + anchor(0%));
  left: calc(10px + anchor(100%));
  padding: 4px 6px;
  background: var(--bg);
  font-size: 0.8rem;
  color: var(--primary);
  border-radius: 3px;
  white-space: pre;
  z-index: 2;
  pointer-events: none;

  &[data-side='left'] {
    left: auto;
    right: calc(anchor(100%) - 10px);
  }
}

.graph-wrapper:not(:has(:where([data-type^='cp']:hover, .show-cp-preview, .cp-selected)))
  [class^='active-line-'] {
  display: none;
}

.graph-wrapper:not(:has(:where([data-type^='cp']:hover, .show-cp-preview))) #cp-coords {
  display: none;
}

.graph-wrapper:has(.show-cp-preview) #cp-preview {
  display: block;
  anchor-name: --cp-selected;
}

.graph-wrapper:not(:has(.show-cp-preview)) [data-type^='cp']:hover,
.graph-wrapper:not(:has(.show-cp-preview, [data-type^='cp']:hover)) .cp-selected {
  anchor-name: --cp-selected;
}

.show-cp-preview {
  cursor: copy;
}

.input-unit {
  display: flex;
  align-items: center;
  justify-content: end;
}

#graph-space-end {
  --source: calc((var(--end-value) - 100));
  align-items: end;
}

#graph-space-start {
  --source: calc((var(--start-value) * -1));
  align-items: start;
}

#graph-space-end,
#graph-space-start {
  display: flex;
  --range: calc(var(--end-value) - var(--start-value));
  height: calc((var(--source) / var(--range)) * 100%);
  width: 100%;
  color: var(--neutral-300);
  font-size: 0.8em;
  user-select: none;
  transition:
    opacity ease 0.3s,
    height ease 0.3s;

  &:before,
  &:after {
    content: '';
    display: block;
    flex-grow: 1;
    border-top: 1px solid;
  }

  span {
    display: flex;
    align-items: center;
    height: 1px;
    margin-inline: 5px;
  }

  &.hidden {
    opacity: 0;
  }
}

dialog[id='video-instruction'] {
  --dialog-padding: 20px;
  --dialog-gap: 20px;
  --dialog-header-height: clamp(3.5rem, 10vh, 4.5rem);
  --examples-list-height: 40px;
  --video-max-width: min(
    calc(90vw - 2 * var(--dialog-padding)),
    calc(
      (
          90dvh - 2 * var(--dialog-padding) - var(--dialog-gap) - var(--dialog-header-height) -
            var(--examples-list-height)
        ) *
        16 / 9
    )
  );

  width: calc(var(--video-max-width) + 2 * var(--dialog-padding));
  max-width: 90vw;
  max-height: 90dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--dialog-gap);

  header {
    margin-bottom: 0;
  }

  > lite-youtube {
    width: 100%;
    max-width: none;
  }
}
