body {
  --btn-hover-bg: rgba(0, 0, 0, 0.05);
  --primary: #303030;
  --bg: #fff;
  --disabled: #999;
  --neutral-200: #ddd;

  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100%;
  display: grid;
  grid-template:
    'toolbar-left toolbar-right' auto
    'editor aside' 1fr
    / 1fr auto;
}

.srOnly {
  position: absolute;
  clip-path: inset(50%);
}

#pan-zoom-area {
  overflow: auto;
  grid-row-start: toolbar-left;
  grid-row-end: editor;
  grid-column: toolbar-left;

  /* Allows custom drag-to-pan without browser gestures interfering */
  touch-action: none;
  overscroll-behavior: contain;
  align-content: center;
}

.editor-container {
  width: 100%;
  height: 100%;
  padding: 80px 20px 20px;
  display: grid;
  grid-template:
    'ruler-y-label  ruler-y   graph' 1fr
    '.              .         ruler-x' 50px
    '.              timeline-action   timeline' auto
    / auto 50px 1fr;
}

.graph {
  position: relative;
  grid-area: graph;
  min-height: 0;
}

.ruler {
  font-family: 'Times New Roman', Times, serif;
  /* position: absolute; */
  /* left: 0; */

  container-type: size;

  display: flex;
  padding: 0;
  margin: 0;
  pointer-events: none;

  --line-width: 1px;
  --line-length: 8px;
  --line-color: #bbb;
  --max-number-of-lines: 20;

  --strong-line-length: 14px;
  --strong-line-color: #888;

  --number-of-lines: round(100cqmax / (5px * var(--max-number-of-lines)));
  --single-line-gap: calc(100% / var(--number-of-lines));

  li {
    display: block flow;
    flex: 1;

    &::after {
      content: attr(data-stop);
      display: inline flow-root;
      font-size: 14px;
    }

    &:last-child {
      flex: 0;
      --line-color: transparent;
      &::after {
        content: '1.0';
      }
    }

    @container ((aspect-ratio > 1) and (width < 300px))
        or
        ((aspect-ratio < 1) and (height < 300px)) {
      &:nth-child(2n)::after {
        display: none;
      }
    }

    @container ((aspect-ratio > 1) and (width < 150px))
        or
        ((aspect-ratio < 1) and (height < 150px)) {
      &:not(:first-child, :last-child)::after {
        display: none;
      }
    }
  }
}

.ruler-y {
  grid-area: ruler-y;
  /* top: 0;
  bottom: 0; */
  /* contain-intrinsic-width: var(--strong-line-length); */
  flex-direction: column-reverse;
  /* translate: calc(-100% + 1px) 0; */
  /* there is like a strange 1px gap on the right side */

  li {
    --x-offset: 10px;
    /* --x-offset: calc(var(--strong-line-length) * -1 - 5px); */
    height: 0;
    align-content: end;
    background:
      conic-gradient(at 0% 100%, var(--strong-line-color)) 100% 100% / var(--strong-line-length)
        var(--line-width) no-repeat,
      conic-gradient(at 100% var(--line-width), transparent 270deg, var(--line-color) 0 270deg) 100%
        calc(-1 * var(--line-width)) / var(--line-length) var(--single-line-gap) repeat-y;

    &:last-child {
      height: calc(2 * var(--line-width));
      &::after {
        translate: var(--x-offset) -50%;
      }
    }

    &::after {
      translate: var(--x-offset) 50%;
    }
  }
}

.label-ruler-y {
  grid-area: ruler-y-label;
  text-align: center;
  writing-mode: sideways-lr;
}

.ruler-x {
  grid-area: ruler-x;
  /* contain-intrinsic-height: var(--strong-line-length); */

  li {
    width: 0;
    background:
      conic-gradient(var(--strong-line-color)) var(--line-width) 0 / var(--line-width)
        var(--strong-line-length) no-repeat,
      conic-gradient(at var(--line-width) 100%, transparent 270deg, var(--line-color) 0)
        var(--line-width) 0 / var(--single-line-gap) var(--line-length) repeat-x;

    &:last-child {
      width: calc(2 * var(--line-width));
    }

    &::after {
      translate: -50% var(--strong-line-length);
    }
  }
}

[data-type^='cp'] {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;

  &:active {
    cursor: grabbing;
  }

  &.cp-selected {
    border: 5px solid cyan;
    anchor-name: --cp-selected;
  }
}

[class^='active-line-'] {
  --size: 1px;
  position: absolute;
  position-anchor: --cp-selected;
  inset: 0;
  background: #0005;
  margin: auto;
  pointer-events: none;
}

.active-line-x {
  top: anchor(center);
  bottom: anchor(center);
  height: var(--size);
}

.active-line-y {
  left: anchor(center);
  right: anchor(center);
  width: var(--size);
}

.graph:not(:has(.cp-selected)) [class^='active-line-'] {
  display: none;
}

[data-type='cp-main'] {
  background-color: blue;
}

[data-type='cp-before'],
[data-type='cp-after'] {
  background-color: red;
  width: 15px;
  height: 15px;
  z-index: 1;
}

.spline-preview {
  overflow: visible;
  will-change: transform; /* safari fix, empty rectangles were drawn on svg after arrow tip */
  width: 100%;
  height: 100%;
}

button[aria-label] {
  position: relative;
}

button[aria-label]::after {
  /* SOURCE: https://css-generators.com/tooltip-speech-bubble/ */
  /* triangle dimension */
  --b: 1em; /* base */
  --h: 0.5em; /* height */

  --p: 50%; /* triangle position (0%:left 100%:right) */
  --r: 0.5em; /* the radius */
  --c: var(--primary);

  padding: 1em;
  border-radius: min(var(--r), var(--p) - var(--b) / 2)
    min(var(--r), 100% - var(--p) - var(--b) / 2) var(--r) var(--r) / var(--r);
  clip-path: polygon(
    0 0,
    0 100%,
    100% 100%,
    100% 0,
    min(100%, var(--p) + var(--b) / 2) 0,
    var(--p) calc(-1 * var(--h)),
    max(0%, var(--p) - var(--b) / 2) 0
  );
  background: var(--c);
  border-image: conic-gradient(var(--c) 0 0) fill 0/ 0 calc(100% - var(--p) - var(--b) / 2) var(--r)
    calc(var(--p) - var(--b) / 2) / var(--h) 0 0 0;
}

@property --tooltip-y {
  syntax: '<length>';
  initial-value: 5px;
  inherits: true;
}

button[aria-label]:not([disabled]) {
  &::after {
    position: absolute;
    display: none;
    content: attr(aria-label);
    color: var(--bg);
    font-size: 14px;
    padding: 0.5em;
    width: max-content;
    max-width: 25ch;
    top: calc(100% + var(--tooltip-y));
    left: 50%;
    translate: -50% 0;
    transition:
      --tooltip-y ease,
      opacity,
      display allow-discrete;
    transition-duration: 0.2s;
    opacity: 0;

    @starting-style {
      --tooltip-y: initial;
      opacity: 0;
    }
  }

  &:where(:hover, :focus-visible) {
    --tooltip-y: 10px;
    &::after {
      display: block;
      opacity: 1;
    }
  }
}

#toolbar {
  grid-column-start: toolbar-left;
  grid-column-end: toolbar-right;
  grid-row: toolbar-left;
  background: #ffffffaa;
  backdrop-filter: blur(2px);
  z-index: 1;
  padding: 5px 20px;
  border-bottom: 1px solid var(--neutral-200);
}

.btn {
  display: inline flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 4px;

  svg {
    width: 24px;
    max-height: 24px;
  }

  &:not([disabled]):hover {
    background: var(--btn-hover-bg);
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--disabled);
  }
}

code {
  display: block;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: break-spaces;
  max-height: 200px;
  overflow: auto;
  font-size: 12px;
}

aside {
  width: 200px;
  padding: 50px 10px;
  border-left: 1px solid var(--neutral-200);
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
}

.output-preview {
  height: 200px;
  background: #00000011;
  border-radius: 5px;
}

#preview-target-box {
  width: 100px;
  height: 100px;
  background: tomato;
  animation: --sample calc(1ms * var(--anim-time)) infinite;
  animation-direction: var(--anim-dir);
  animation-timing-function: var(--easing-func);
  animation-play-state: var(--anim-state);
  animation-fill-mode: forwards;
  border-radius: inherit;
}

@keyframes --sample {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

#spline-anim-progress {
  --arrow-tail-width: 5px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: var(--arrow-tail-width);
  margin-left: calc(var(--arrow-tail-width) * -0.5);
  background: linear-gradient(
    transparent var(--anim-preview-arrow-tip-height),
    lime var(--anim-preview-arrow-tip-height)
  );
  pointer-events: none;

  &.reverse {
    top: 100%; /* for negative values */
    align-content: end;
    background: linear-gradient(
      lime calc(100% - var(--anim-preview-arrow-tip-height)),
      transparent calc(100% - var(--anim-preview-arrow-tip-height))
    );

    &::before {
      transform: rotate(180deg);
    }
  }

  &::before {
    content: ' ';
    display: block;
    flex-shrink: 0;
    margin-inline: auto;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    background: lime;
    width: 20px;
    height: var(--anim-preview-arrow-tip-height);
  }
}

.timeline-action {
  grid-area: timeline-action;
}

#code-snippet {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
}

#copy-code {
  font-size: 14px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--bg);

  &:active {
    &::before {
      @starting-style {
        display: block;
        translate: 0 0;
        opacity: 1;
      }
    }
  }

  &:before {
    position: absolute;
    right: 0;
    content: 'Copied!';
    opacity: 0;
    translate: 0 -50px;
    display: none;
    background: #0009;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    transition:
      display 1.5s allow-discrete,
      translate 1.5s ease-out,
      opacity 0.75s ease-out 0.75s;
  }
}

.css-code-section {
  header {
    display: flex;
    align-items: center;
    padding-bottom: 5px;

    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
    }

    label {
      margin-left: auto;
      font-size: 14px;
    }

    input {
      width: 50px;
    }
  }
}

.code-wrapper {
  position: relative;
}

#cp-preview {
  display: none;
  opacity: 0.5;
  pointer-events: none;
}

.graph:has(.show-cp-preview:hover) #cp-preview {
  display: block;
}

.show-cp-preview {
  cursor: copy;
}
