.url-shadow-input-wrapper {
  flex-grow: 1;
  max-width: 50vw;
  margin-inline: auto;
  border: 2px solid var(--neutral-500);
  border-radius: 5px;
  overflow: hidden;
  anchor-scope: --tooltip;

  .tooltip-container {
    width: 100%;
    display: flex;
    gap: 5px;
  }

  input {
    flex: 1;
    padding: 8px 12px;
    border: none;
    &::placeholder {
      font-size: 0.91rem;
      color: var(--neutral-600);
    }

    &:focus {
      outline: none;
    }
  }

  &:has(input:focus) {
    border-color: var(--accent-strong);
  }

  #url-shadow-input-hint {
    display: none;
  }

  #url-shadow-input-erase {
    padding-top: 8px;
  }

  &:has(#url-shadow-input:placeholder-shown) {
    #url-shadow-input-hint {
      display: block;
    }

    #url-shadow-input-erase {
      display: none;
    }
  }
}

.input-suffix {
  position: absolute;
  position-anchor: --tooltip;
  right: anchor(right);
  top: anchor(top, 1px);
  bottom: anchor(bottom, 5px);
  padding: 3px 8px 0 50px;
  border-radius: 0 5px 5px 0;
  background: linear-gradient(90deg, #0000, var(--neutral-200) 45px);

  button {
    padding: 0;
  }
}

#url-shadow-input {
  /* anchor-name: --url-shadow-input; */
  background: var(--neutral-200);
}
